# --- Python
__pycache__/
*.py[cod]
*.ipynb_checkpoints/

# --- Data
MLPC2025_dataset.zip
MLPC2025_Dataset/
MLPC2025_data_exploration/
MLPC2025_classification.zip
MLPC2025_classification/        

# --- Environments
.env
.venv

# --- macOS
.DS_Store

# --- Windows
Thumbs.db
desktop.ini

.npy